{%load static%}
<footer class="footer1">
    <div class="end">
      <div class="APD">
        <div class="APD_content">
          <p class="alcherLogoBottom"><img src="{% static 'imgs/Group 26.png'%}"></p>
          <p class="alcherFooter">Alcheringa <br></p>
        </div>
      </div>

        <div class="contactFollow" id="Contact">
           <div class="contactFollowContent">
            <div class="ContactFollow Contact"><p class="contactus">Contact  us</p>
                <div style="display: flex; gap:2vw; font-size: calc(0.2rem + 1.2vw);">
                    <div><div>Anurag</div><div>anurag@alcheringa.in</div><div>+91 98645 58336</div></div>
                    <div><div>Ankit Kumar</div><div>ankit.k@alcheringa.in</div><div>+91 8092267185</div></div>
                </div>
                
              </div>
            </div>
            <div class="contactFollow" id="contact">
                <div class="ContactFollow Follow">
                    <p class = "Follow_head">Follow Us</p>
                </div>
                <div class = "logo">
                    <p class = "bottom">
                    <a href="https://www.instagram.com/alcheringaiitg/?hl=en"><img style="width: 2vw;height:2vw;"
                    src="{% static 'imgs/icon.png'%}" class="top instagram"></a>
                    </p>
                    <p class = "bottom"><a href="https://www.youtube.com/channel/UCQfsLKaY4a1Mx75hnaZDoxw"><img style="width: 2vw;height:2vw;"
                     src="{% static 'imgs/youtube.png'%}" class="top youtube"></a></p>
                    <p class = "bottom"><a href="https://www.threads.net/@alcheringaiitg"><img  style="width: 2vw;height:2vw;" src="{% static 'imgs/at-sign.png'%}"
                    class="top threads"></a></p>
                   <p class = "bottom"><a href="https://www.facebook.com/alcheringaiitg/"><img  style="width: 2vw;height:2vw;" src="{% static 'imgs/facebook.png'%}"
                   class="top facebook"></a></p>
                </div>                                     
            </div>
        </div>
      <div class="copyright">
        <p>COPYRIGHT © 2024 ALCHERINGA. ALL RIGHTS RESERVED<br>
          Designed by Team Creatives. Developed by Team WebOps.</p>
      </div>
      </div>
    </div>
  </footer>